@page
@model ProjetoNadd3.Pages.Professores.IndexModel

@{
    ViewData["Title"] = "Professor";
}

    <h2>Professores</h2>

<p>
    <a asp-page="Create">Novo Professor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <font color="White">Nome do Professor</font>
            </th>
            <th>
                <font color="White">Matrícula</font>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Professor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prof_Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prof_Matricula)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
