@page
@model ProjetoNadd3.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Cursos";
}

    <h2>Cursos</h2>

<p>
    <a asp-page="Create">Novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <font color="White">Nome  do Curso</font>
            </th>
            <th>
                <font color="White">Qdt. Periodos</font>
            </th>
            <th>
                <font color="White">Curso Anual?</font>
            </th>
            <th>
                <font color="White">Área do Curso</font>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Curso) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cur_Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cur_Num_Periodos)
            </td>
            <td>
                @if (item.Cur_Ano_Sem == 0)
                {
                    <text>NÃO</text>
                }
                else
                {
                    <text>SIM</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areas.Area_Nome)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
